# Allow all files in this directory
!*
!.gitignore

# Ignore local media and uploads folders to keep repo clean
media/
gallery/uploads/

# Exclude large zip files to keep git light
*.zip
*.tar.gz
*.rar
